<html>
    <head>
        <style>
            {css}
        </style>
    </head>
    <body>
        <div>
            <p> 
                Hello <strong>{name}</strong>, this is an automatic message from Jacob's Secret
                Santa Program. The person you'll be shopping for this christmas
                will be:            
            </p>
            <h1 class="giftee">{giftee_name}</h1>
            <p>
                Your giftee was randomly selected from a list of people that
                are not in your household. All results are anynomus. However,
                results will be recorded in the database to ensure that for a 
                future version of the program you do not recieve the same person
                you've had the previous year. Also, the results stored in the database
                will be revield after the gift giving to ensure, no one swaps names.  
            </p>
            <p>
                Merry christmas, 
            </p>
            <p style="text-indent: 50px;">
                Jacob Boesch
            </p>
        </div>
    </body>
</html>